<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Job Application Portal</h5>
        <p>Connecting talented professionals with great opportunities.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/jobs">Jobs</a></li>
          <li><a routerLink="/profile">Profile</a></li>
          <li><a routerLink="/companies">Companies</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <ul class="list-unstyled">
          <li><i class="fas fa-envelope"></i> dast25@gmail.com</li>
          <li><i class="fas fa-map-marker-alt"></i> Surampalem, India</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row footer-bottom">
      <div class="col-md-6">
        <p class="copyright">&copy; {{ currentYear }} DAST Portal. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer> 